<p-toast position="bottom-right"></p-toast>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
<!--                    <img src="assets/layout/images/logofarm-BL.png" alt="Image" height="100" class="mb-3">-->
                    <div class="text-900 text-3xl font-medium mb-3">Bienvenido</div>
                    <span class="text-600 font-medium">Inicia Sesión para continuar</span>
                </div>

                <div>
                    <form (ngSubmit)="onSubmitRecover()" [formGroup]="recoverForm" class="login-form">
                        <h2 class="text-center">Recuperar Contraseña</h2>

                        <!-- Usuario -->
                        <!--                        <div class="form-group">-->
                        <div class="field col-12 sm:col-12 md:col-12 xl:col-12">
                            <label for="email" class="block text-900 text-xl font-medium mb-2">Correo Electrónico</label>

                            <input type="text" class="w-full md:w-30rem mb-5" style="padding:1rem" id="email"
                                   formControlName="userName" placeholder="Ingresa tu correo electrónico" pInputText
                            />
                            <!-- Errores para userName -->
                            <div *ngIf="recoverForm.get('email')?.touched">
                                <small class="text-danger" *ngIf="recoverForm.get('email')?.errors?.['required']">
                                    El correo electrónico es obligatorio.
                                </small>
                                <small class="text-danger" *ngIf="recoverForm.get('email')?.errors?.['email']">
                                    Debes ingresar un correo electrónico válido.
                                </small>
                            </div>
                            <label for="newPassword" class="block text-900 text-xl font-medium mb-2">Nueva Contraseña</label>

                            <input [type]="showPassword ? 'text' : 'password'" id="newPassword"
                                   formControlName="password" placeholder="Ingresa tu nueva contraseña" pInputText
                                   class="w-full md:w-30rem mb-5" style="padding:1rem">
                            <!-- Errores para password -->
                            <div *ngIf="recoverForm.get('newPassword')?.touched">
                                <small class="text-danger" *ngIf="recoverForm.get('newPassword')?.errors?.['required']">
                                    La contraseña es obligatoria.
                                </small>
                                <small class="text-danger" *ngIf="recoverForm.get('newPassword')?.errors?.['minlength']">
                                    La contraseña debe tener al menos 8 caracteres.
                                </small>
                            </div>
                        </div>
                        <div class="field col-12 sm:col-12 md:col-12 xl:col-12">
                            <button pButton pRipple label="Recuperar Cuenta" class="w-full p-3 text-xl" type="submit" [disabled]="!recoverForm.valid"></button>
                        </div>
                        <div class="forgot-link text-right">
                            <a [routerLink]="'/login'">Volver al inicio de sesión</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
